name: Helm Deploy

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Helm
      uses: azure/setup-helm@v3
      with:
        version: '3.12.0'
    
    - name: Configure kubectl
      uses: azure/setup-kubectl@v3
    
    - name: Deploy to Kubernetes
      run: |
        helm upgrade --install vocab-learner ./helm/vocab-learner \
          --namespace vocab-learner \
          --create-namespace \
          --set image.tag=${{ github.ref_name }}
      env:
        KUBECONFIG: ${{ secrets.KUBECONFIG }}
